.nav-button{
	border: 1px solid #000;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:5px 15px;
	cursor:pointer;
	margin-right:5px;

  margin-bottom: 5px;
	transition:all .5s ease-in-out;
	flex: 1 20%;
}
.selected{
	background-color:#000;
	color:#fff;
}
